[Unit]
Description=ReachEdge Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/reach/reachwan/
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 reachwan.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target